<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to the Login page</h1>
        <!-- Create a form -->
        <form action="/login" method="POST">
            <!-- One field for the email, and another for password, and one button to submit the user information -->
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"/><br/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/><br/>
            <input type="submit" value="Login"/>
        </form>
</body>
</html>